<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      
    <!-- mars data -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Latest Mars News</h2>
        <h3 class="heading">{{mars.title}}</h3>
        <p>{{mars.news}}</p>
        
        <h3>Featured Mars Image</h3>
        <img src= {{ mars.src }} width: 50% />
        <p>{{ mars.report }}</p>
      </div>
    </div>
  </div>

</body>
</html>

